// @import 'reset';
@import 'variables';
@import 'mixin';

body{
    font-family: sans-serif;
    background: url(../images/salleCinema2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    scroll-behavior: smooth;

    .fondgris{
        background-color: rgba(255,255,255,0.6);
    }
}



/* ----------------------- HEADER ----------------------- */
header {
    nav {

    }
}

/* ----------------------- FOOTER ----------------------- */

footer {
    div{
        &.container{
            p{
                &#copyright{
                    margin-bottom: initial;
                }
            }
        }
    }
}

/* ----------------------- HOME VIEW ----------------------- */
div{
    &#main{        
        div{
            &.container {
            // padding-top: 5%;
            // padding-bottom: 5%;
            .card{
                &.m-2 {
                    height: 426.78px;
                    border: none;
                }
                .card-title {
                font-size: 1rem;
                } 
            }
            }
        }
    }
}

/* ----------------------- FILM VIEW ----------------------- */

div {
    &.container{
        div{
            &.presentationFilm{
                text-align: center;
            }
            .titleSynopsis{
                font-size: 1rem;
                font-weight: 700;
            }
            &.synopsis {
                text-align: justify;
            }
            &.hrFilm{
                background: rgba(0, 0, 0, 0.4);
                height: 1px;
                margin-bottom: 20px;
            }
            &.commentaires{
                .interlineComs{
                    line-height: 0.3rem;
                }
                .dateCommentaire{
                    font-size: 0.9rem;
                }
            }
        }
    }
}